My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        0
      ],
      "id": "206697ef-322a-4f6d-8b64-3dc7f8a5fbef",
      "name": "Webhook",
      "webhookId": "23847c2e-6602-46cd-b90d-f8bcf3ac0a3b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9093ccb5-a10c-47be-8d8e-a13ee5f63942",
              "name": "ip",
              "value": "={{$json[\"body\"][\"ip\"]}}",
              "type": "string"
            },
            {
              "id": "3d0fe0e6-0754-46a4-b88c-07121273885c",
              "name": "status",
              "value": "={{$json[\"body\"][\"status\"]}}",
              "type": "string"
            },
            {
              "id": "3f7efbbf-8088-4ee5-acce-a97d1df7df14",
              "name": "score",
              "value": "={{$json[\"body\"][\"score\"]}}",
              "type": "string"
            },
            {
              "id": "21034508-aaf0-48b1-8342-da28a04ec514",
              "name": "time",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "64bd5a98-2b25-4bac-ac68-94a6fcc2c6ab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this cybersecurity data:\n\nIP: {{$json[\"ip\"]}}\nStatus: {{$json[\"status\"]}}\nScore: {{$json[\"score\"]}}\n\nIf THREAT:\n- Explain why it is dangerous\n- Suggest action\n\nIf SAFE:\n- Confirm it is safe\n- Give short explanation\n\nRespond clearly.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "40cd2295-9911-4260-b98e-5203691aab8f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-7b-instruct-v0.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "93b1426d-08f7-453d-8ed3-412d4593eaab",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "S7KWQxzepssDauSw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "default-session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        768,
        224
      ],
      "id": "9e027bf4-417a-49d3-bcf8-102050281ce1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "fromEmail": "chennupatimanasvi11@gmail.com",
        "toEmail": "manasch919@gmail.com",
        "html": "=<h2>Cybersecurity Analysis Result</h2>\n\n<p><b>IP:</b> {{$node[\"Edit Fields\"].json[\"ip\"]}}</p>\n\n<p><b>Status:</b> {{$node[\"Edit Fields\"].json[\"status\"]}}</p>\n\n<p><b>Score:</b> {{$node[\"Edit Fields\"].json[\"score\"]}}</p>\n\n<p>\n{{ $node[\"Edit Fields\"].json[\"status\"] === \"THREAT\" \n? \"🚨 This IP is a THREAT. Immediate action required.\" \n: \"✅ This IP is SAFE.\" }}\n</p>\n\n<h3>🧠 AI Explanation:</h3>\n<p>{{$json[\"output\"]}}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1008,
        0
      ],
      "id": "e77b54a2-fe2a-4d52-b6e7-6813635528ea",
      "name": "Send an Email",
      "webhookId": "21ec7519-2702-450a-b03a-fcac8f6c5d67",
      "credentials": {
        "smtp": {
          "id": "ExDE7SoYc4krdj1H",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OJDR8Z49lbbUsFoYHsI7IjZzHalBFcwY5cn52vUuqMo",
          "mode": "list",
          "cachedResultName": "Cyber AI logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OJDR8Z49lbbUsFoYHsI7IjZzHalBFcwY5cn52vUuqMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OJDR8Z49lbbUsFoYHsI7IjZzHalBFcwY5cn52vUuqMo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SCORE": "={{$json[\"score\"]}}",
            "IP": "={{$json[\"ip\"]}}",
            "STATUS": "={{$json[\"status\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IP",
              "displayName": "IP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SCORE",
              "displayName": "SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        0
      ],
      "id": "83e28bc5-9780-4716-b472-614a34a48ec6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i8LkHuz68bijsYtJ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9969c1f1-24e4-4e31-851a-878b08e9721e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d410c6b53c6fa12806f87540b458cf3d22f02d1198d4d5055be8064f5e6278c"
  },
  "id": "usv8vWbFcDkflUuS",
  "tags": []
}